*:focus {
  outline: none;
}

.logo {
  margin: 0 auto;
  max-width: 272px;
  max-height: 92px;
  position: relative;
  top: 70px;
}

.search-box {
  width: 584px;
  height: 46px;
  position: relative;
  margin-left: 170px;
  display: block;
  top: 80px;
}

input.search-box:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

input.search-box {
  padding-left: 45px;
  border-radius: 25px;
  border: 0.5px solid rgb(224, 224, 235);
}

div#search-icon {
  position: relative;
  width: 10px;
  top: 73px;
  left: 360px;
  z-index: 5;
}

div#mic-icon {
  position: relative;
  width: 10px;
  top: 55px;
  left: 940px;
}

div#mic-icon a:link {
  color: black;
}

div#mic-icon a:visited {
  color: black;
}

div#mic-icon a:hover {
  color: black;
}

.gmail, .images {
  padding-top: 3px;
}

.images {
  padding-right: 10px;
}

.gmail {
  padding-right: 15px;
}

.buttons {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 185px;
}

.button {
  background-color: #f2f2f2;
  border: none;
  color:rgb(95, 99, 104);
  padding: 0px 16px;
  height: 36px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 11px 4px;
}

.button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  display: block;
  width: auto;

}

li a {
  color: rgba(0,0,0,0.87);
  font-size: 13px;
  line-height: 24px;
  font-family: arial, sans-serif;
}

li a:link {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

li a:visited {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

li a:hover {
  color: rgba(0,0,0,0.87);
  opacity: 0.85;
  text-decoration: underline;
}

.sign {
  color: #fff;
  padding: 0 12px;
  margin-right: 10px;
  line-height: 28px;
  background-color: rgb(66, 133, 244);
  border: 1px solid #4285f4;
  outline: none;
  font-weight: 700;
  font-size: 13px;
  border-radius: 2px;
}

a .sign:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}


.apps {
  background-image: url("http://gstatic.com/gb/images/i2_2ec824b0.png");
  background-position-x: -132px;
  background-position-y: -38px;
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
  opacity: 0.55;
  padding: 0px 3px;
}

.apps:hover {
  opacity: 0.85;
}